.lineup-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 100px;
}
.field-container {
  position: absolute;
  width: 23%;
  top: -80px;
  perspective: 1000px;
  margin: 0 auto;
}

.field {
  width: 100%;
  border-radius: 20px;
  transform: rotateX(40deg);
  transform-style: preserve-3d;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  filter: blur(1px);
  opacity: 0.7;
}

.stadium-field {
  display: flex;
  flex-direction: column;
}

.lineup-row {
  display: flex;
  justify-content: center;
}

.player {
  position: relative;
  text-align: center;
  height: 120px;
}

.player-name {
  position:absolute;
  top: 18%;
  left: 0;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  color: black;
}
.player-number {
  position:absolute;
  top: 35%;
  left: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  width: 100%;
}
.jersey {
  width: 100px;
  height: auto;
  margin: 0.7rem;
  top: 30px;
  left: 5px;
}
.slider {
  position: relative;
  width: 160%;
  overflow: hidden;
  height: auto;
  padding: 15px;
  transform: translateY(-5%);
  margin-left: -30%;
  margin-right: -30%;
}

.slider-inner {
  display: flex;
  width: 200%;
  transition: transform 0.8s ease-in-out;
}

.lineup-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  flex-shrink: 0;
  top: 0;
}

